OldClientApp/Service References/ServiceRef/OldService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OldService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:24112/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:24112/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:24112/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/wcfOldService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPerson_GetPersons_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersons" />
  </wsdl:message>
  <wsdl:message name="IPerson_GetPersons_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonsResponse" />
  </wsdl:message>
  <wsdl:message name="IPerson_GetPerson_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPerson" />
  </wsdl:message>
  <wsdl:message name="IPerson_GetPerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonResponse" />
  </wsdl:message>
  <wsdl:message name="IPerson_AddPerson_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPerson" />
  </wsdl:message>
  <wsdl:message name="IPerson_AddPerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPersonResponse" />
  </wsdl:message>
  <wsdl:message name="IPerson_ModifyPerson_InputMessage">
    <wsdl:part name="parameters" element="tns:ModifyPerson" />
  </wsdl:message>
  <wsdl:message name="IPerson_ModifyPerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifyPersonResponse" />
  </wsdl:message>
  <wsdl:message name="IPerson_GetArraySize_InputMessage">
    <wsdl:part name="parameters" element="tns:GetArraySize" />
  </wsdl:message>
  <wsdl:message name="IPerson_GetArraySize_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetArraySizeResponse" />
  </wsdl:message>
  <wsdl:portType name="IPerson">
    <wsdl:operation name="GetPersons">
      <wsdl:input wsaw:Action="http://tempuri.org/IPerson/GetPersons" message="tns:IPerson_GetPersons_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPerson/GetPersonsResponse" message="tns:IPerson_GetPersons_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IPerson/GetPerson" message="tns:IPerson_GetPerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPerson/GetPersonResponse" message="tns:IPerson_GetPerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IPerson/AddPerson" message="tns:IPerson_AddPerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPerson/AddPersonResponse" message="tns:IPerson_AddPerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModifyPerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IPerson/ModifyPerson" message="tns:IPerson_ModifyPerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPerson/ModifyPersonResponse" message="tns:IPerson_ModifyPerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetArraySize">
      <wsdl:input wsaw:Action="http://tempuri.org/IPerson/GetArraySize" message="tns:IPerson_GetArraySize_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPerson/GetArraySizeResponse" message="tns:IPerson_GetArraySize_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPerson" type="tns:IPerson">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPersons">
      <soap:operation soapAction="http://tempuri.org/IPerson/GetPersons" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPerson">
      <soap:operation soapAction="http://tempuri.org/IPerson/GetPerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPerson">
      <soap:operation soapAction="http://tempuri.org/IPerson/AddPerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyPerson">
      <soap:operation soapAction="http://tempuri.org/IPerson/ModifyPerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetArraySize">
      <soap:operation soapAction="http://tempuri.org/IPerson/GetArraySize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OldService">
    <wsdl:port name="BasicHttpBinding_IPerson" binding="tns:BasicHttpBinding_IPerson">
      <soap:address location="http://localhost:24112/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>