NewClientApp/Service References/ServiceRef/MyService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MyService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:18731/NewService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:18731/NewService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:18731/NewService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/wcfNewService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMyService_GetPersons_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersons" />
  </wsdl:message>
  <wsdl:message name="IMyService_GetPersons_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonsResponse" />
  </wsdl:message>
  <wsdl:message name="IMyService_GetPerson_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPerson" />
  </wsdl:message>
  <wsdl:message name="IMyService_GetPerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonResponse" />
  </wsdl:message>
  <wsdl:message name="IMyService_AddPerson_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPerson" />
  </wsdl:message>
  <wsdl:message name="IMyService_AddPerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPersonResponse" />
  </wsdl:message>
  <wsdl:message name="IMyService_ModifyPerson_InputMessage">
    <wsdl:part name="parameters" element="tns:ModifyPerson" />
  </wsdl:message>
  <wsdl:message name="IMyService_ModifyPerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifyPersonResponse" />
  </wsdl:message>
  <wsdl:message name="IMyService_GetArraySize_InputMessage">
    <wsdl:part name="parameters" element="tns:GetArraySize" />
  </wsdl:message>
  <wsdl:message name="IMyService_GetArraySize_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetArraySizeResponse" />
  </wsdl:message>
  <wsdl:portType name="IMyService">
    <wsdl:operation name="GetPersons">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/GetPersons" message="tns:IMyService_GetPersons_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/GetPersonsResponse" message="tns:IMyService_GetPersons_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/GetPerson" message="tns:IMyService_GetPerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/GetPersonResponse" message="tns:IMyService_GetPerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/AddPerson" message="tns:IMyService_AddPerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/AddPersonResponse" message="tns:IMyService_AddPerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModifyPerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/ModifyPerson" message="tns:IMyService_ModifyPerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/ModifyPersonResponse" message="tns:IMyService_ModifyPerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetArraySize">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/GetArraySize" message="tns:IMyService_GetArraySize_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/GetArraySizeResponse" message="tns:IMyService_GetArraySize_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMyService" type="tns:IMyService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPersons">
      <soap:operation soapAction="http://tempuri.org/IMyService/GetPersons" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPerson">
      <soap:operation soapAction="http://tempuri.org/IMyService/GetPerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPerson">
      <soap:operation soapAction="http://tempuri.org/IMyService/AddPerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyPerson">
      <soap:operation soapAction="http://tempuri.org/IMyService/ModifyPerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetArraySize">
      <soap:operation soapAction="http://tempuri.org/IMyService/GetArraySize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MyService">
    <wsdl:port name="BasicHttpBinding_IMyService" binding="tns:BasicHttpBinding_IMyService">
      <soap:address location="http://localhost:18731/NewService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>